body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#shape {
  background-color: yellow;
  width: 200px;
  height: 200px;
  position: absolute;
  display: none;
}
